name: Run Postman Tests

on:
  push:
    branches: ["main"]

jobs:
  newman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman + HTML reporter
        run: npm install -g newman newman-reporter-htmlextra

      - name: Create report folder
        run: mkdir -p newman

      - name: Run Newman Tests
        run: |
          newman run "APITestingCopy.postman_collection.json" \
            -e "SimpleAPI.postman_environment.json" \
            -r cli,htmlextra \
            --reporter-htmlextra-export "newman/report.html"

      - name: Upload HTML Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: newman-html-report
          path: newman/report.html
