name: Run Newman Tests with HTML Report

on:
  push:
    branches:
      - main  # yalnız main branch-a push zamanı işləsin

jobs:
  newman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.11.0'

      - name: Install Newman and Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Postman Collection with HTML Report
        run: |
          newman run APITestingCopy.postman_collection.json \
          -r htmlextra \
          --reporter-htmlextra-export newman-report.html

      - name: Upload Newman HTML Report
        uses: actions/upload-artifact@v3
        with:
          name: newman-html-report
          path: newman-report.html
