name: Postman Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Newman + htmlextra
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Postman tests with environment
        run: |
          newman run TestsCollection.json \
          -e SimpleAPI.postman_environment.json \
          -r htmlextra \
          --reporter-htmlextra-export newman/report.html

      - name: Upload HTML report
        uses: actions/upload-artifact@v3
        with:
          name: postman-report
          path: newman/report.html
